<!-- linking the header.ejs to this file -->

<%- include("header"); -%>

  <div class="box" id="heading">
    <h1> <%=listTitle%> </h1>

  </div>
  <div class="box">
    <!-- for loop to create a new item list -->
    <%for (i=0; i < newListItems.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p> <%=newListItems[i]%> </p>
    </div>
    <% } %>
    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item"  autocomplete="off">
      <button type="submit" name="list" value=<%=listTitle%>>+</button>
    </form>
  </div>


  <!-- linking the footer.ejs to this file using ejs -->
  <%- include("footer"); -%>
